includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        # Symfony Config component
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'

        # Doctrine ORM
        - '#Contentful::findContentfulEntry\(\) should return Netgen\\Layouts\\Contentful\\Entity\\ContentfulEntry|null but returns object|null.#'

        # Other errors
        - '#Parameter \#1 \$function of function call_user_func expects callable\(\): mixed, array\(.+, .+\) given.#'
        - '#Call to an undefined method Contentful\\Core\\Resource\\SystemPropertiesInterface::get\w+\(\).#'

        -
            message: '#should be contravariant with parameter \$object#'
            path: lib/Item/ValueConverter/EntryValueConverter.php

        -
            message: '#Instanceof between Contentful\\Delivery\\Resource\\Entry and Contentful\\Delivery\\Resource\\Entry will always evaluate to true.#'
            path: lib/Service/Contentful.php

        - '#Variable method call#'
