includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        # Integration specifics
        -
            message: '#Variable method call on Netgen\\Layouts\\Contentful\\Entity\\ContentfulEntry#'
            path: lib/Collection/QueryType/Handler/ContentfulReferencesHandler.php
