{% extends ngbm.layoutTemplate %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{{ content.getName() }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
