{% extends '@nglayouts/block/block.html.twig' %}

{% block content %}
    {% set field_identifier = block.parameter('field_identifier').value %}
    {% set field = block.dynamicParameter('field') %}

    {% block contentful_entry_field %}
        {% if field is not empty %}
            {% if field.type is constant('TYPE_JSON', field) %}
                <div class="field field-{{ field.type }} field-{{ field_identifier }}">
                    {{ field.value|json_encode }}
                </div>
            {% else %}
                {{ 'contentful.field_not_compatible'|trans({'%field_identifier%': field_identifier}, 'contentful') }}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}
