<div class="name">
    <a href="{{ path('cmf_routing_object', {'_route_object': item.object}) }}">{{ item.object.name }}</a>
</div>

<div class="value-type">
    <p>{{ nglayouts_value_type_name(item) }}</p>
</div>
